@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.ttf");
}
:root {
  --clrbg: rgb(48, 34, 34);
  --clrbg2: rgba(48, 34, 34, 0.356);
  --clrbgCard: rgba(223, 149, 64, 0.4);
  --clrTextBox: rgba(223, 114, 52, 0.705);
  --animClr1: cyan;
  --animClr2: purple;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Rubik", sans-serif;
  background: #f7f2f2;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.NEWS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  background: linear-gradient(to top right, slategrey, cyan);
  overflow: hidden;
  background-size: 400% 400%;
}

.NEWS > p {
  font-size: 20px;
}
.NEWS:hover {
  animation: bgFade 20s ease infinite;
}
@keyframes bgFade {
  0% {
    background-position: 0% 0%;
  }
  49% {
    background-position: 94% 0%;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0%;
  }
}
/* header */
.head {
  position: relative;
  width: 100vw;
  height: 106px;
  left: 0px;
  top: 0px;
  background: #c4c4c4;

  display: flex;
  align-items: center;
  flex-direction: row;
}
.logo {
  position: absolute;
  top: 0;
  width: 10px;
  height: 44.11px;
}
.hspan {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, var(--animClr1), var(--animClr2));
  animation: importance1 12s infinite;
}

.logo > h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 43px;
  line-height: 50px;
}

/* Navigation */
.currentSite {
  position: relative;
  overflow: hidden;
}
.currentSite span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background: linear-gradient(to right, var(--animClr1), var(--animClr2));
  animation: importance1 2s infinite;
}
.currentSite span:nth-child(2) {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, var(--animClr1), var(--animClr2));
  animation: importance2 2s infinite;
  animation-delay: 1s;
}
.currentSite span:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, var(--animClr1), var(--animClr2));
  animation: importance3 2s infinite;
}
.currentSite span:nth-child(4) {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0;
  background: linear-gradient(to top, var(--animClr1), var(--animClr2));
  animation: importance4 2s infinite;
  animation-delay: 0.9s;
}
.navigation {
  display: flex;
  position: absolute;
  right: 5%;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 43px;
  line-height: 50px;
  font-size: 20px;
}
.navigation a {
  padding-right: 5px;
  padding-left: 5px;
}
.nav {
  margin-left: 1em;
  background: rgb(160, 155, 155);
  border-radius: 6px;
}
.nav:hover {
  box-shadow: -5px 5px 5px rgba(48, 34, 34, 0.356);
  transform: translate(5px, -5px);
}

/*Main Box*/
a {
  text-decoration: none;
  color: #000;
}
.wih {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  margin-left: 1em;
  width: 420px;
  height: 10%;

  text-align: center;
  margin-top: 2em;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 19px;
  overflow: hidden;
}
.wih:hover span:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background: linear-gradient(to right, var(--animClr1), var(--animClr2));
  animation: importance1 2s infinite;
}
.wih:hover span:nth-child(2) {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, var(--animClr1), var(--animClr2));
  animation: importance2 2s infinite;
  animation-delay: 1s;
}
.wih:hover span:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, var(--animClr1), var(--animClr2));
  animation: importance3 2s infinite;
}
.wih:hover span:nth-child(4) {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0;
  background: linear-gradient(to top, var(--animClr1), var(--animClr2));
  animation: importance4 2s infinite;
  animation-delay: 0.9s;
}
@keyframes importance1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes importance2 {
  0% {
    transform: translatey(-100%);
  }
  100% {
    transform: translatey(100%);
  }
}
@keyframes importance3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes importance4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
p {
  font-size: 16px;
  line-height: 2.5em;
}
h4 {
  padding-left: 10%;
  padding-right: 10%;
}
.body {
  padding-left: 15%;
  padding-right: 15%;
}
.infoBox {
  margin: 0.5em;
  background: grey;
  width: 80%;
  align-self: center;
  border-radius: 15px;
  box-shadow: -5px 5px 5px rgba(48, 34, 34, 0.356);
}
.sideBySide {
  display: flex;
  flex-direction: row;
}
.L {
  display: flex;
  left: 0;
  flex-direction: column;
  width: 50%;
}
.R {
  display: flex;
  right: 0;
  flex-direction: column;
  width: 50%;
}
/* hackerbox Theme */
.hackerBox {
  background: black;
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  margin-left: 1em;
  border: 2px solid green;
  height: auto;
  line-height: 5px;
}
.hackerBox > p {
  text-align: left;
  color: lime;
  padding: 10px;
  margin: 0;
}
/* No use for now */
.selectedLine {
  animation: fadeinout 1s infinite;
}
@keyframes fadeinout {
  0% {
    font-size: 0;
  }
  49% {
    font-size: 0;
  }
  50% {
    font-size: 1em;
  }
  99% {
    font-size: 1em;
  }
  100% {
    font-size: 0;
  }
}

/*ImageFadeIn*/
.image {
  z-index: 4;
  display: flex;
  align-self: flex-end;
  position: absolute;
  top: 5em;
  right: 1em;
  width: 20vw;
  height: auto;
  background-size: contain;
  animation: opac 5s 1;
  animation-fill-mode: forwards;
}
.image > img {
  width: 100%;
  height: 100%;
}

@keyframes opac {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*Contact Form*/
.formBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
.formBox label {
  text-align: center;
  padding-top: 1.5em;
}
form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  background: grey;
  width: 40%;
  align-self: center;
  border-radius: 15px;
  box-shadow: -5px 5px 5px rgba(48, 34, 34, 0.356);
}
textarea {
  margin-bottom: 1em;
  max-width: 150px;
  min-width: 150px;
  max-height: 200px;
  min-height: 20px;
}
button {
  background: white;
  border-radius: 25px;
  color: slategrey;
  border: 0;
  box-shadow: -2px 2px 5px rgba(48, 34, 34, 0.656);
  width: 70px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
}
button:hover {
  transform: translate(2px, -2px);
  box-shadow: -4px 4px 3px rgba(48, 34, 34, 0.656);
}
.formField {
  border-radius: 25px;
  background: slategray;
  text-align: center;
  border: 0;
  box-shadow: -2px 2px 5px rgba(255, 255, 255, 0.656);
}
.formField::placeholder {
  color: #fff;
}
/*Hamburger*/
.hamburger {
  position: absolute;
  right: 4.5%;
  top: 35%;
  width: 65px;
  height: 45px;
  z-index: 3;
  visibility: hidden;
}
input[type="checkbox"] {
  display: none;
}
.line {
  position: absolute;
  right: 10px;
  top: 12px;
  height: 4px;
  width: 55px;
  background: #fff;
  border-radius: 2px;
  display: block;
  transition: 0.5s;
  transform-origin: center;
}

.line:nth-child(1) {
  top: 12px;
}
.line:nth-child(2) {
  top: 24px;
}
.line:nth-child(3) {
  top: 36px;
}

#hamburger:checked + .hamburger .line:nth-child(1) {
  transform: translateY(12px) rotate(-45deg);
}

#hamburger:checked + .hamburger .line:nth-child(2) {
  opacity: 0;
}

#hamburger:checked + .hamburger .line:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

#hamburger:checked + .hamburger + div.navigation {
  display: flex;
  position: fixed;
}
/*disable hamburger on pc*/
@media (min-width: 923px) {
  .hamburger {
    display: flex;
  }
}
/* Mobile media querry */
@media (max-width: 923px) {
  body,
  html {
    overflow-x: hidden;
  }
  .NEWS {
    text-align: center;
  }
  .NEWS h1 {
    font-size: 30px;
  }
  .NEWS p {
    padding: 8px;
    font-size: 16px;
  }
  .wih {
    width: 85%;
    height: auto;
    font-size: 20px;
  }
  .wih:hover span:nth-child(1) {
    visibility: hidden;
  }
  .wih:hover span:nth-child(2) {
    visibility: hidden;
  }
  .wih:hover span:nth-child(3) {
    visibility: hidden;
  }
  .wih:hover span:nth-child(4) {
    visibility: hidden;
  }

  .hamburger {
    visibility: visible;
  }
  .logo h1 {
    font-size: 35px;
  }
  .navigation {
    position: absolute;
    width: 100vw;
    left: 0;
    height: 100vh;
    top: 0;
    background: rgba(48, 34, 34, 0.656);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    display: none;
  }
  .nav {
    margin: 0.7em;
  }
  .formBox {
    width: 100%;
  }
  .sideBySide {
    flex-direction: column;
  }
  .R {
    width: 100%;
  }
  .L {
    width: 100%;
  }
  .image {
    visibility: hidden;
  }
  .currentSite span:nth-child(1) {
    visibility: hidden;
  }
  .currentSite span:nth-child(2) {
    visibility: hidden;
  }
  .currentSite span:nth-child(3) {
    visibility: hidden;
  }
  .currentSite span:nth-child(4) {
    visibility: hidden;
  }
}
