:root {
  --clrbg: rgb(48, 34, 34);
  --clrbg2: rgba(48, 34, 34, 0.356);
  --clrbgCard:rgba(223, 149, 64, 0.4);
  --clrTextBox:rgba(223, 114, 52, 0.705);
}
html{
  width: 100vw;
  height: 100vh;

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;

  background-image: url(../images/redMountains.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

/*Navbar*/
.nav {
  margin-left: 0px;
}
.navbar {
  width: 25px;
  padding: 10px;
  background-color: var(--clrTextBox);
  display: inline;
  position: relative;
  z-index: 1;
  margin:0.2em;
}
.navbar::after{
  content: '';
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background:red;
  z-index: -1;
  transition: 250ms ease-in;
  transform: scaleX(0);
  transform-origin: left;
}
.navbar:hover:after{
  transform: scaleX(1);
  transform-origin: right;
}
nav li {
  display: inline;
  list-style: none;
}
.currentSite {
  background:var(--clrTextBox);
  font-weight: bold;
}




a {
  text-decoration: none;
  color: black;
}
.textContainer {
  padding: 1em;
  background: var(--clrTextBox);
  margin-top: 2em;
  border-radius: 25px;
  text-align: center;
}
.textContainerlink:hover {
  transform: translate(10px, -10px);
  box-shadow: -10px 10px rgba(0, 0, 0, 0.342);
}
#images {
  width: 20%;
  height: 20%;
}
#images:hover {
  transform: scale(1.2) rotate(5deg);
}
.textContainerimage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  background:var(--clrTextBox);
  margin-top: 2em;
  border-radius: 25px;
  width: 40em;
}
.goUpThePage {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 5em;
  background: brown;
  border-radius: 25px;
}

.formBox {
  display: flex;
  flex-direction: column;
  text-align: center;
}
ol {
  text-align: initial;
}
ul {
  text-align: initial;
}
.hackerBox {
  background: black;
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  margin-left: 2em;
  border: 2px solid green;
  height: auto;
}
.hackerBox > p{
  text-align: left;
  color: lime;
  padding: 10px;
  margin: 0;
}
.selectedLine {
  animation: fadeinout 1s infinite;
}
@keyframes fadeinout {
  0% {
    font-size: 0;
  }
  49% {
    font-size: 0;
  }
  50% {
    font-size: 1em;
  }
  99% {
    font-size: 1em;
  }
  100% {
    font-size: 0;
  }
}
.glitch {
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitcheffekt 650ms infinite;
}

@keyframes glitcheffekt {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
}
.testbox {
  margin-left: 2em;
  margin-right: 2em;
  background: #fff;
  height: auto;
  border-radius: 10px;
}
.testbox > p {
  text-decoration: underline rgb(197, 0, 0);
}
#cssExerciseBG {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/wallpaper.jpeg);
}
.bgcard {
  width: 50em;
  background: var(--clrbgCard);
  padding: 5em;
  border-radius: 50px;
}
div p {
  font-family: arial;
  font-weight: bold;
}
@media (max-width:900px){
   .bgcard{
       width: 100vw;
   } 
}
